<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>gerenciador</display-name>
	<welcome-file-list>
		<welcome-file>formLogin.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>MF</filter-name>
		<filter-class>br.com.study.gerenciador.filtro.Monitoramento</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AF</filter-name>
		<filter-class>br.com.study.gerenciador.filtro.Autorizacao</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CF</filter-name>
		<filter-class>br.com.study.gerenciador.filtro.Controlador</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CF</filter-name>
		<url-pattern>/entrada</url-pattern>
	</filter-mapping>

	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
</web-app>